.gradientBorderContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradientBorder {
  background: linear-gradient(187.82deg, #26268F -2.69%, #0C0C4A 83.05%);
  border-radius: 24px; 
}

@media screen and  (min-width: 1025px) {
  .cardRound {
    width: 100%;
    }
  }
  
  @media screen and  (max-width: 1025px) {
    .cardRound {
      width: 100%;
      display: none;
    }
  }

@media screen and  (min-width: 769px) {
  .cardRoundTablet_PC {
    display: none;
  }
  }
@media screen and  (max-width: 640px) {
    .cardRoundTablet_PC {
      display: none;
      }
    }
@media only screen and (max-width: 640px) and (min-width: 769px){
      .cardRoundTablet_PC {
        width: 100%;
      }
    }
  @media screen and  (min-width: 1025px) {
    .cardRoundTablet {
      display: none;
      }
    }
  @media screen and  (max-width: 769px) {
      .cardRoundTablet {
        display: none;
        }
      }
    @media only screen and (max-width: 1025px) and (min-width: 640px){
      .cardRoundTablet {
        width: 100%;
        margin-bottom: 12vh;
      }
    }
    @media screen and  (min-width: 1027px) {
      .cardRoundTablet {
        display: none;
      }
    }
    @media screen and  (max-width: 640px) {
      .cardRoundMobile {
        width: 100%;
        margin-top: 12%;
      }
    }
    @media screen and  (min-width: 641px) {
      .cardRoundMobile {
       display: none;
      }
    }

.gradientBorderViolet {
  background: linear-gradient(89deg, #26266E 60%, #0e0e37 );
  border-radius: 16px; 
  box-shadow: 0px 0px 4px rgb(110 56 136 / 70%);
}

.gradientBorder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px; 
  padding: 3px; 
  background: linear-gradient(0deg, rgba(0, 255, 199, 0.6) 0%,rgba(0, 255, 199, 0.6) 100%);
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
          background: linear-gradient(180deg, rgba(0, 255, 199, 0.6) 0%, rgba(0, 0, 0, 0) 50.13%, rgba(0, 255, 199, 0.6) 100%),
linear-gradient(187.82deg, #26268F -2.69%, #0C0C4A 83.05%);

}

.gradientBorderViolet::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px; 
  padding: 3px; 

  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 


}
.triangle {
  width: 0px;
  height: 0px;
  border-bottom: 207px solid transparent;
  border-top: 192px solid transparent;
  border-right: 445px solid #3f30b51c;
  position: absolute;
}

.triangleLeft {
  width: 0px;
    height: 0px;
    border-bottom: 209px solid transparent;
    border-top: 140px solid transparent;
    border-left: 382px solid #3f30b51c;
}

.textoverflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@media screen and (max-width: 375px) {
  .text_mobile_Blog_11 {
  font-size: 11px;
  margin-left: 2px;
  }
}

@media only screen and (max-width: 769px) and (min-width: 375px)  {
  .text_mobile_Blog_12 {
    font-size: 12px;
    margin-left: 2px;
    }
}

@media screen and (max-width: 1024px) {
  .blog_flexNone_mobile {
  flex: none;
  }
}

@media only screen and (max-width: 920px) and (min-width: 360px)  {
  .blog_flexNone_mobile_list {
   display: flex;
   flex-direction: column;
   padding-left: 1rem;
   padding-right: 1rem;
   gap: 10px;
    }
}

@media only screen and (max-width: 920px) and (min-width: 360px)  {
  .blog_paddingBottom_mobile_list {
    padding-bottom: 10px;
    }
}

@media screen and (max-width: 1024px) {
  .blogDeail_flex {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 1023px) {
  .blogDeail_DisplayNone {
    display: none!important;
  }
}
@media screen and (min-width: 1023px) {
  .blogDeail_DisplayNonePc {
    display: none!important;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
  .blog_Detail_Title_Tablet{
    font-size: 24px;
    font-weight: 600;
    }
}
@media screen and (max-width: 767px)  {
  .blog_Detail_Title_mobile{
    font-size: 18px;
    font-weight: 600;
    }
}
.textoverflowDetailBlog {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@media screen and (min-width: 590px)  {
  .blogDeail_DisplayNoneTablet{
    display: none;
    }
}
@media screen and (max-width: 590px)  {
  .blogDeail_DisplayNoneMobileDetailBlog{
    display: none;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 490px)  {
  .Search {
   width: 464px;
    }
}

@media screen and (max-width: 590px)  {
  .svg_image{
    min-width: 80%!important;
    min-height: 80%!important ;
    }
}

@media screen and (min-width: 768px)  {
  .Toastify__toast_pc {
    background: linear-gradient(92deg, #1DE9B6 35.31%, #0C0C4A 92.05%)!important;
    border-radius: 10px!important;
    padding: 16px!important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)!important;
    opacity: 1!important;
    width: 100%!important;
    font-size: 14px!important;
    color: white!important;
  }
}

@media screen and (max-width: 767px)  {
  .Toastify__toast_mobile {
    background: linear-gradient(92deg, #1DE9B6 35.31%, #0C0C4A 92.05%)!important;
    border-radius: 10px!important;
    padding: 16px!important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)!important;
    opacity: 1!important;
    width: 65%!important;
    font-size: 12px!important;
    top: 15px!important;
    color: white!important;
  }
}


@media screen and (min-width: 768px)  {
  .Toastify__toast_damge_pc {
    background: linear-gradient(92deg, #A10707 35.31%, #E40000 92.05%)!important;
    border-radius: 10px!important;
    padding: 16px!important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)!important;
    opacity: 1!important;
    width: 100%!important;
    font-size: 14px!important;
    color: white!important;
  }
}

@media screen and (max-width: 767px)  {
  .Toastify__toast_damge_mobile {
    background: linear-gradient(92deg, #A10707 35.31%, #E40000 92.05%)!important;
    border-radius: 10px!important;
    padding: 16px!important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)!important;
    opacity: 1!important;
    width: 75%!important;
    font-size: 12px!important;
    top: 15px!important;
    color: white!important;
  }
}

@media screen and (min-width: 1024px) {
  .seeMore {
    max-height: 500px;

    overflow-y: auto;
    scroll-behavior: smooth;

    position: relative;
  }

  .seeMore::-webkit-scrollbar {
    width: 14px;
  }

  .seeMore::-webkit-scrollbar-track {
    border: 1px solid #26266e;
  }

  .seeMore::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    background: hsla(165, 82%, 51%, 0.3);
    background-clip: padding-box;
  }

  .seeMore::-webkit-scrollbar-thumb:hover {
    background: hsla(165, 82%, 51%, 1);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }

  .wrapper {
    position: relative;
  }
  .wrapper:before {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);

    content: '';
    height: 6px;
    width: 50%;
    background: radial-gradient(
      48.6% 16741.12% at 50% 50%,
      #0065dc 0%,
      #171976 70.8%,
      #0f103c 100%
    );
    filter: blur(10px);
  }
  .wrapper:after {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);

    content: '';
    height: 1px;
    width: 50%;

    background: radial-gradient(50% 25063195.92% at 50% 0%, #1de9b6 0%, rgba(29, 233, 182, 0) 100%);
  }
}
@media screen and (max-width: 1024px) {
  .seeMoreMobile {
    max-height: 300px;

    overflow-y: auto;
    scroll-behavior: smooth;

    position: relative;
  }

  .seeMoreMobile::-webkit-scrollbar {
    width: 14px;
  }

  .seeMoreMobile::-webkit-scrollbar-track {
    border: 1px solid #26266e;
  }

  .seeMoreMobile::-webkit-scrollbar-thumb {
    border: 3px solid rgba(0, 0, 0, 0);
    background: hsla(165, 82%, 51%, 0.3);
    background-clip: padding-box;
  }

  .seeMoreMobile::-webkit-scrollbar-thumb:hover {
    background: hsla(165, 82%, 51%, 1);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }

  .wrapper {
    position: relative;
  }
  .wrapper:before {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);

    content: '';
    height: 6px;
    width: 50%;
    background: radial-gradient(
      48.6% 16741.12% at 50% 50%,
      #0065dc 0%,
      #171976 70.8%,
      #0f103c 100%
    );
    filter: blur(10px);
  }
  .wrapper:after {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);

    content: '';
    height: 1px;
    width: 50%;

    background: radial-gradient(50% 25063195.92% at 50% 0%, #1de9b6 0%, rgba(29, 233, 182, 0) 100%);
  }
}

.shadowColor {
  text-shadow: 4px 2px #fff6
}
@media screen and  (max-width: 1600px) {
  .cardService_Column {
    flex-direction: column;
    display: flex;
    gap:5px;
    }
  }
@media screen and  (min-width: 1600px) {
    .cardService_Row {
      flex-direction: row;
      display: flex;
      }
    }
@media screen and  (max-width: 1600px) {
  .textoverflow_ListBlog {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    width: 40px;
  }
      }
@media screen and  (max-width: 600px) {
        .textoverflow_ListCareers {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
          width: 30vw;
        }
            }