.outerCircle {
  position: relative;
  background-color: #0F103C;
}

.outerCircleHover {
  position: relative;
  background: linear-gradient(#26268F 0%, #0C0C4A 100%);
}

.outerCircleHover::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px; 
  padding: 2px;
  background:linear-gradient(0deg, rgba(29, 233, 182, 0.3),#1DE9B6); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.outerCircle::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px; 
  padding: 2px;
  background:linear-gradient(0deg, rgba(29, 233, 182, 0.3),#1DE9B6); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.textoverflowProject {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.textoverflowProjectTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
@media screen and  (min-width: 1025px) {
  .cardRound {
    width: 100%;
    }
  }
  
  @media screen and  (max-width: 1025px) {
    .cardRound {
      width: 100%;
      display: none;
    }
  }

@media screen and  (min-width: 769px) {
  .cardRoundTablet_PC {
    display: none;
  }
  }
@media screen and  (max-width: 640px) {
    .cardRoundTablet_PC {
      display: none;
      }
    }
@media only screen and (max-width: 640px) and (min-width: 769px){
      .cardRoundTablet_PC {
        width: 100%;
      }
    }
  @media screen and  (min-width: 1025px) {
    .cardRoundTablet {
      display: none;
      }
    }
  @media screen and  (max-width: 769px) {
      .cardRoundTablet {
        display: none;
        }
      }
    @media only screen and (max-width: 1025px) and (min-width: 640px){
      .cardRoundTablet {
        width: 100%;
        margin-bottom: 12vh;
      }
    }
    @media screen and  (min-width: 1027px) {
      .cardRoundTablet {
        display: none;
      }
    }
    @media screen and  (max-width: 640px) {
      .cardRoundMobile {
        width: 100%;
        margin-top: 12%;
      }
    }
    @media screen and  (min-width: 641px) {
      .cardRoundMobile {
       display: none;
      }
    }