@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/fonts/Montserrat/montserrat-v24-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/Montserrat/montserrat-v24-latin-500.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Montserrat-fontwight4';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Montserrat/montserrat-regular.ttf') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/Montserrat/montserrat-v24-latin-500.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Montserrat-fontwight5';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/fonts/Montserrat/montserrat-v24-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/Montserrat/montserrat-v24-latin-500.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat-fontwight6';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('/fonts/Montserrat/montserrat-v24-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/Montserrat/montserrat-v24-latin-600.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat-fontwight7';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/Montserrat/montserrat-v24-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/Montserrat/montserrat-v24-latin-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  body {
    @apply text-white text-[24px] font-normal bg-background p-0 m-0 box-border font-montserrat tracking-wider;
  }

  p,
  span {
    @apply font-sansFrancisco tracking-[0.03em];
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus input:-webkit-autofill {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
  }

  @keyframes autofill {
    100% {
      background: transparent;
      color: inherit;
      font-size: inherit;
    }
  }

  @-webkit-keyframes autofill {
    100% {
      background: transparent;
      color: inherit;
      font-size: inherit;
    }
  }

  .swiper-pagination-bullet {
    @apply !bg-active;
  }
}

@layer components {
  .container {
    @apply max-w-full lg:max-w-[990px] xl:max-w-[1156px] 2xl:max-w-[1230px] 3xl:max-w-[1560px] py-0 px-4 md:px-8 lg:px-[15px] mx-auto my-0;
  }

  .btn {
    @apply inline-flex justify-center items-center font-bold uppercase border-2 relative z-[1] h-8 md:h-16;
  }

  .btn.btn-icon-xs {
    @apply inline-flex justify-center items-center font-bold uppercase border-2 relative z-[1] h-8 md:h-10;
  }

  .btn-active {
    @apply !border-active;
  }

  .btn-ghost {
    @apply border-navy-2;
  }

  .btn-outline {
    @apply after:absolute after:right-0 after:top-0 after:bottom-0 after:w-0 after:bg-active after:opacity-10 hover:after:w-full after:transition-all after:duration-500 after:ease-in-out after:z-[-1];
  }

  .btn-disabled {
    @apply opacity-50 pointer-events-none select-none;
  }
  .btn-text {
  }

  .btn-lg .btn-text {
    @apply text-[18px] leading-[21.94px] md:px-16 inline-flex;
  }

  .btn-sm .btn-text {
    @apply text-[9px] md:text-[18px] leading-[11px] md:leading-6 px-[17px] md:px-12 inline-flex;
  }

  .btn-xs .btn-text {
    @apply text-xs md:text-base xl:text-lg leading-[14px] md:leading-5 xl:leading-[22px] px-9 md:px-7 xl:px-6 3xl:px-11;
  }

  .btn-icon-lg .btn-text {
    /* @apply text-base md:text-[18px] leading-[20px] md:leading-[21.94px] pl-[3.375rem] pr-12 inline-flex; */
    @apply inline-flex justify-center flex-1;
  }

  .btn-icon-sm .btn-text {
    @apply text-[16px] leading-[19.5px] px-7 md:px-9 inline-flex;
  }

  .btn-icon-xs .btn-text {
    /* @apply text-sm leading-[17px] px-6 inline-flex; */
    @apply inline-flex;
  }

  .heading-title {
    @apply text-active font-bold text-lg md:text-[32px] leading-[22px] md:leading-[39px];
  }

  .text-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  .rc-pagination li {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #535763;
    box-shadow: 0px 15px 30px rgba(133, 133, 163, 0.05);
    border-radius: 8px;
  } 

  .rc-pagination .rc-pagination-prev button, .rc-pagination-next button {
    color: #1DE9B6;
    border: none;
    background: rgba(255, 255, 255, 0.1);
  } 

  .rc-pagination .rc-pagination-next button {
    color: #1DE9B6;
    border: none;
    background: rgba(255, 255, 255, 0.1);
  } 

  .rc-pagination li a {
    padding: 6px;
    color: #1DE9B6;
  } 

  .rc-pagination .rc-pagination-jump-next button {
    padding: 6px
  }

  .rc-pagination .rc-pagination-item-active {
    background: #1DE9B6;
    box-shadow: 0px 15px 30px rgba(133, 133, 163, 0.05);
    border-radius: 8px;
  }

  .rc-pagination .rc-pagination-item-active a {
    color: #151547;
  } 
}

@layer utilities {
  .mansonry-2-cols {
    column-count: 2;
    column-gap: 2.5rem;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

a {
  text-decoration: none;
}

.right-icon::after,
.left-icon::after {
  content: '';
  position: absolute;
  top: 0;
  height: 102%;
  width: 64px;
  z-index: -1;
  transition: width 0.5s ease-in-out;
}

.btn-icon-xs .right-icon,
.btn-icon-xs .left-icon {
  width: 40px;
}

.btn-icon-xs .right-icon::after,
.btn-icon-xs .left-icon::after {
  width: inherit;
}

.btn-ghost .right-icon::after,
.btn-ghost .left-icon::after {
  background-color: #26266e;
}

.btn-active .right-icon::after,
.btn-active .left-icon::after {
  background-color: rgb(29 233 182 / 0.1);
}

.right-icon::after {
  right: -1px;
}

.left-icon::after {
  left: -1px;
}

.btn:hover .right-icon::after,
.btn:hover .left-icon::after {
  width: calc(100% + 1px);
}

.swiper-pagination {
  /* bottom: -10px !important; */
}

.swiper .swiper-pagination-bullet {
  background-color: #5d70ab;
  transition: all 0.3s;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev,
.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  transform: scale(0.6) !important;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active-prev,
.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  transform: scale(0.8) !important;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active-main {
  background-color: #1de9b6;
  left: 16px;
  width: 40px;
  height: 8px;
  border-radius: 10px;
}

.Toastify__toast-container {
  width: 100% !important;
}

.Toastify__toast {
  padding: 12px !important;
  align-items: center !important;
  margin-bottom: 18px !important;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background: linear-gradient(
    90.02deg,
    rgba(29, 233, 182, 0.8) -0.33%,
    rgba(29, 233, 182, 0) 74.66%
  ) !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background: linear-gradient(
    90.02deg,
    rgba(162, 7, 7, 0.8) -0.33%,
    rgba(228, 0, 0, 0) 74.66%
  ) !important;
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  background: linear-gradient(
    90.02deg,
    rgba(254, 221, 64, 0.33) -0.33%,
    rgba(254, 221, 64, 0) 74.66%
  ) !important;
}

.Toastify__toast-icon {
  width: auto;
  margin-right: 25px !important;
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }

  .btn-icon-xs .right-icon,
  .btn-icon-xs .left-icon {
    width: 24px;
    /* height: 24px; */
  }

  .btn-icon-lg .right-icon {
    width: 42px;
  }
  .btn-icon-lg .right-icon::after {
    width: 42px;
  }

  .Toastify__toast-container {
    max-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .right-icon::after,
  .left-icon::after {
    width: 48px;
  }

  /* .btn-icon-xs .right-icon,
  .btn-icon-xs .left-icon {
    width: 30px;
  } */

  .btn-icon-lg .right-icon {
    width: 64px;
    /* height: 64px; */
  }
  .btn-icon-lg .right-icon::after {
    width: 64px;
    /* height: 64px; */
  }
}

@media screen and (max-width: 1023.98px) {
  .Toastify__toast-icon {
    margin-right: 12px !important;
  }
  .Toastify__toast {
    padding: 0px 5px !important;
    align-items: center !important;
    min-height: 45px !important;
  }

  /* .Toastify__toast-container {
    max-width: 280px !important;
  } */
}

@media screen and (min-width: 1024px) {
  .btn-icon-xs .right-icon,
  .btn-icon-xs .left-icon {
    width: 26px;
  }

  .Toastify__toast-container {
    max-width: 350px;
  }
}

@media screen and (min-width: 1366px) {
  .btn-icon-xs .right-icon,
  .btn-icon-xs .left-icon {
    width: 28px;
    height: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .btn-icon-xs .right-icon,
  .btn-icon-xs .left-icon {
    width: 29.5px;
    height: 33px;
  }

  .btn-icon-lg .right-icon {
    width: 64px;
    height: 64px;
  }
  .btn-icon-lg .right-icon::after {
    width: 64px;
    height: 64px;
  }
}

@media screen and (min-width: 1600px) {
  .btn-icon-xs .right-icon,
  .btn-icon-xs .left-icon {
    width: 35.74px;
    height: 40px;
  }

  .Toastify__toast-container {
    max-width: 400px !important;
  }
}

.entry-content {
  @apply text-BodyTextColor font-sansFrancisco;
}

.entry-content p,
.entry-content a {
  @apply mt-6 mb-6 text-sm leading-4 lg:text-lg lg:leading-6 font-sansFrancisco text-BodyTextColor;
}

.entry-content a {
  @apply underline text-active underline-offset-4;
}

.entry-content img {
  @apply mx-auto my-4;
}

.entry-content ul {
  @apply mb-3 text-sm leading-4 list-disc list-inside lg:text-lg lg:leading-6;
}

.entry-content li {
  @apply ml-[6px];
}

.entry-content strong {
  @apply text-active;
}

.entry-content ol {
  @apply mb-3 text-sm leading-4 list-decimal list-inside lg:text-lg lg:leading-6;
}

.entry-content h3 {
  @apply my-6;
}


.active-image {
  animation-name: myanimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes myanimation {
  0%   {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
  50%  {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2)
  }
  100%  {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

