/* .select_option {
  background: transparent;
  border: 2px solid #26266e;
} */

.pd_nav {
  /* padding: 44px 240px 0px 240px; */
  padding: 2.292vw 12.5vw 0vw 12.5vw;
}

.menu li {
  position: relative;
  display: inline-block;
}

.menu li::after {
  width: 0;
  height: 4px;
  position: absolute;
  background-color: #1de9b6;
  content: '';
  bottom: -2px;
  left: 0px;
  transition: width 1s;
}

.menu li:hover::after {
  width: 100%;
}

.menu :global(.react-select__control) {
  padding: 11px 0;
  width: 80px;
}

@media screen and (min-width: 1366px) {
  .menu :global(.react-select__control) {
    width: 72px;
  }
}

@media screen and (min-width: 1440px) {
  .menu :global(.react-select__control) {
    width: 78px;
  }
}

@media screen and (min-width: 1600px) {
  .menu :global(.react-select__control) {
    width: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .displayNonePc {
    display: none!important;
  }
}
.button{
  display:inline-block;
  width:auto;
  height:50px;
  border:2px solid #34495e;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  width: 145px;
}
.button a{
  font-family:arial;
  font-size:16px;
  color:#34495e;
  text-decoration:none;
  text-transform:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
  text-align: center;
}
.eff{
  width:100%;
  height:50px;
  top:-50px;
  background: linear-gradient(45deg, #053270, #1DE9B6);
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button:hover .eff{
  top:0;
}
.button:hover a {
  color:white;
}




