.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  position: relative;
  width: 100%;
  height: 100%;
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.list > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}

.gradient {
  border-radius: 24px;

  /* margin: 50px auto; */
  
  border-top: 2px solid #1DE9B6;
  
  border-bottom: 2px solid rgba(29, 233, 182, 0.3);
  
  -webkit-box-sizing: border-box;
  
  -moz-box-sizing: border-box;
  
  box-sizing: border-box;
  
  background-position: 0 0, 100% 0;
  
  background-repeat: no-repeat;
  
  -webkit-background-size: 2px 100%;
  
  -moz-background-size: 2px 100%;
  
  background-size: 2px 100%;
  
  /* background-image: url(“https://www.pexels.com/photo/woman-standing-beside-tree-holding-book-2228560/”); */
  
  background-image: -webkit-linear-gradient(top, #1DE9B6 0%, rgba(29, 233, 182, 0) 129.67%), -webkit-linear-gradient(top, #1DE9B6 0%, rgba(29, 233, 182, 0) 129.67%);
  
  background-image: -moz-linear-gradient(top, #1DE9B6 0%, rgba(29, 233, 182, 0) 129.67%), -moz-linear-gradient(top, #1DE9B6 0%, rgba(29, 233, 182, 0) 129.67%);
  
  background-image: -o-linear-gradient(top, #1DE9B6 0%, rgba(29, 233, 182, 0) 129.67%), -o-linear-gradient(top, #1DE9B6 0%, rgba(29, 233, 182, 0) 129.67%);
  
  background-image: linear-gradient(to bottom, #1DE9B6 0%, rgba(29, 233, 182, 0) 129.67%), linear-gradient(to bottom, #1DE9B6 0%, rgba(29, 233, 182, 0) 129.67%);

  /* border: 2px solid; */

/* border-image-source: linear-gradient(180deg, #1DE9B6 0%, rgba(29, 233, 182, 0) 129.67%); */


}

@media screen and (max-width: 640px) {
  .cardService {
    padding: 0 32px;
  }
}
.gradientBorderContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradientBorder {
  background: linear-gradient(187.82deg, #26268F -2.69%, #0C0C4A 83.05%);
  border-radius: 24px; 
  box-shadow: 0 0 10px 5px rgba(44, 117, 228, 1);
}

@media screen and  (min-width: 1025px) {
  .cardRound {
    width: 100%;
    }
  }
  
  @media screen and  (max-width: 1025px) {
    .cardRound {
      width: 100%;
      display: none;
    }
  }

@media screen and  (min-width: 769px) {
  .cardRoundTablet_PC {
    display: none;
  }
  }
@media screen and  (max-width: 640px) {
    .cardRoundTablet_PC {
      display: none;
      }
    }
@media only screen and (max-width: 640px) and (min-width: 769px){
      .cardRoundTablet_PC {
        width: 100%;
      }
    }
  @media screen and  (min-width: 1025px) {
    .cardRoundTablet {
      display: none;
      }
    }
  @media screen and  (max-width: 769px) {
      .cardRoundTablet {
        display: none;
        }
      }
    @media only screen and (max-width: 1025px) and (min-width: 640px){
      .cardRoundTablet {
        width: 100%;
        margin-bottom: 12vh;
      }
    }
    @media screen and  (min-width: 1027px) {
      .cardRoundTablet {
        display: none;
      }
    }
    @media screen and  (max-width: 640px) {
      .cardRoundMobile {
        width: 100%;
        margin-top: 12%;
      }
    }
    @media screen and  (min-width: 641px) {
      .cardRoundMobile {
       display: none;
      }
    }


