@media screen and  (min-width: 1025px) {
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 1px solid #1DE9B6;
}
}

@media screen and  (max-width: 1025px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px;
    height: 325px;
    border-radius: 50%;
    border: 1px solid #1DE9B6;
  }
  }

.card_round{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient( rgb(46 53 92 / 23%) 100%, rgba(46 53 92 / 23%) 100% ) !important;
}
@media screen and  (min-width: 1025px) {
.card_round_two{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 520px;
  width: 520px;
  border-radius: 50%;
  background: linear-gradient( rgb(46 53 92 / 23%) 100%, rgba(46 53 92 / 23%) 100% ) !important;
}
}

@media screen and  (max-width: 1025px) {
  .card_round_two_table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 385px;
    width: 385px;
    border-radius: 50%;
    background: linear-gradient( rgb(46 53 92 / 23%) 100%, rgba(46 53 92 / 23%) 100% ) !important;
  }
  }

@media screen and  (max-width: 769px) {
    .card_round_two_table{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 254px;
      width: 254px;
      border-radius: 50%;
      background: linear-gradient( rgb(46 53 92 / 23%) 100%, rgba(46 53 92 / 23%) 100% ) !important;
    }
    }

@media screen and  (max-width: 1025px) {
  .card_round_two{
    display: none;
  }
  }

@media screen and  (min-width: 1025px) {
    .card_round_two_table{
      display: none;
    }
  }

@media screen and  (min-width: 1025px) {
.card_round_three {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 1px solid #1DE9B6;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

@media screen and  (max-width: 1025px) {
  .card_round_three {
    width: 305px;
    height: 305px;
    border-radius: 50%;
    border: 1px solid #1DE9B6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
@media screen and  (max-width: 769px) {
    .card_round_three {
      width: 214px;
      height: 214px;
      border-radius: 50%;
      border: 1px solid #1DE9B6;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    }

@media screen and  (min-width: 1025px) {
.card_round_four {
  width: 383px;
  height: 383px;
  border-radius: 50%;
  border: 3px solid #2c6658;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

@media screen and  (max-width: 1025px) {
.card_round_four {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  border: 3px solid #2c6658;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

/* ----------------- */
@media only screen and (max-width: 640px) and (min-width: 769px){
  .card_round_four {
    width: 168px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid #2c6658;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }



/* ----------------- */



@media screen and  (max-width: 769px) {
  .card_round_four {
    width: 198px;
    height: 198px;
    border-radius: 50%;
    border: 3px solid #2c6658;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }

@media screen and  (max-width: 451px) {
    .card_round_four {
      width: 168px;
      height: 168px;
      border-radius: 50%;
      border: 3px solid #2c6658;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    }
@media screen and  (max-width: 440px) {
      .card_round_three {
        width: 187px;
        height: 187px;
        border-radius: 50%;
        border: 1px solid #1DE9B6;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      }


@media screen and (min-width: 769px) and (max-width: 840px) {
  .card {
    width: 324px;
    height: 324px;
  }
}

@media screen and (max-width: 769px) {
  .card {
    width: 230px;
    height: 230px;
  }

  .cardImage {
    width: 230px;
    height: 230px;
  }
}

@media screen and (min-width: 340px) and (max-width: 450px) {
  .card {
    width: 200px;
    height: 200px;
  }

  .cardImage {
    width: 200px;
    height: 200px;
  }
}
